[submodule "external/predef"]
	path = external/predef
	url = https://github.com/BoostOrg/predef
[submodule "external/preprocessor"]
	path = external/preprocessor
	url = https://github.com/BoostOrg/preprocessor
[submodule "external/VulkanMemoryAllocator"]
	path = external/VulkanMemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator
[submodule "external/vk-bootstrap"]
	path = external/vk-bootstrap
	url = https://github.com/charles-lunarg/vk-bootstrap
